data/
data/csv
data/df
errors.txt
output/
__pycache__/modules.cpython-310.pyc
test if inflection exists in sutta.sh
sutta text/
sandhi splitting strategies.ipynb
inflection generator errorlog.txt
sandhi correct.csv
sandhi.code-workspace
sandhi2.code-workspace
scratchpad.ipynb
allwords.code-workspace
