data/
data/csv
data/df
errors.txt
output/
__pycache__/modules.cpython-310.pyc
test if inflection exists in sutta.sh
sutta text/
sandhi splitting strategies.ipynb
sutta corespondence tables/
inflection generator errorlog.txt
